/* FONTS */

@font-face {
    font-family: "VT323";
    src: url(../../assets/fonts/VT323-Regular.ttf) format("truetype");
}

/* GLOBALS */

html, body {
    font-family: VT323, sans-serif !important;
    background: linear-gradient(to right bottom, #7000b1, #56119c, #3f1685, #2b166e, #1a1357) no-repeat;
    height: 100%;
    margin: 0;
    overflow: auto;
    color: #ffffff;
}

p, label {
    font-size: 14px;
    line-height: 2.5;
}

::placeholder {
    font-size: 12px;
    color: #7000B1;
}

::-ms-input-placeholder {
    color: #7000B1;
}

/* NAVBAR */

.nav-links {
    font-size: 26px;
}

.nav-link-custom {
    margin-left: 30px;
    color: #ffffff;
    text-decoration: none;
}

.nav-link-custom:hover {
    color: #00FFD5;
}

.custom-href:hover {
    cursor: pointer;
}

/* FOOTER */
footer {
    margin-top: 75px;
    padding-bottom: 50px;
}

/* COLORS */

.text-color-white {
    color: #ffffff;
}

.text-main-color {
    color: #00FFD5;
}


/* LANDING PAGE - MAIN CONTENT */
.main-content {
    margin-top: 50px;
}

.main-content-text-container {
    margin-left: 170px;
}

.main-content-heading {
    font-size: 64px;
}

.main-content-paragraph {
    font-size: 32px;
}

/* MEDIA QURIES */

@media only screen and (max-width: 1200px) {
    .main-content-img {
        display: none;
    }
}

.secondary-color {
    color: #7000B1;
}

.nav-link-active {
    border-bottom: #00FFD5 1px solid;
}


.community-container h1 {
    font-size: 64px;
    margin-bottom: 42px;
}

.community-container p {
    margin-left: 50px;
    font-size: 32px;
    text-align: start;
    line-height: 1.5;
    width: 92%;
}

.discord-container {
    margin-left: 50px;
    width: 90%;
    margin-top: 50px;
}

.discord-container button {
    color: #699BF7;
    background-color: #00FFD5;
    border: none;
    width: 40%;
    font-size: 32px;
    height: 114px;
    margin-top: 45px;
}

.disabled {
    background-color: gray !important;
    color: #00FFD5 !important;
    cursor: not-allowed;
}

.blog-pre {
    margin-bottom: 3em !important;
    -webkit-box-shadow: -10px 0 13px -7px #000000, 10px 0 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
    box-shadow: -10px 0 13px -7px #000000, 10px 0 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
    position: relative;
}

.code-copy-btn {
    color: white;
    position: absolute;
    right: 10px;
    top: -2px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.code-copy-btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.github-button {
    margin-top: auto !important;
    height: 100% !important;
    border-radius: initial !important;
    width: auto !important;
    background-color: transparent !important;
}

/* SCROLLBAR */

/*Mozilla*/
* {
    scrollbar-width: 20px;
    scrollbar-color: #00FFD5 #000000;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00FFD5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00FFD5;
}

.info-card-container {
    margin-left: 3.5%;
    border: #00FFD5 1px solid;
    width: 87.5%;
    margin-top: 4rem;
    padding: 15px;
}

.common-font-size {
    font-size: 24px;
    line-height: 1.5;
}

.single-star {
    margin: 6px 0 0 10px;
    width: 22px;
    height: 22px;
}

.info-card-container button {
    margin-top: 20px;
    background-color: #00FFD5;
    border: none;
    height: 43px;
    border-radius: 5px;
    width: 150px;
    font-family: Inter, 'Helvetica', 'Arial', 'sans-serif';
}

.difficulty-container {
    margin-top: 25px;
}

.answer-container {
    background-color: #00FFD5;
    padding: 25px;
    margin-top: 45px;
}

.answer-container > p {
    color: #7000B1;
    margin-left: 25px;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    width: 100%;
}

.radio-container {
    width: 45px;
    height: 40px;
    color: transparent;
    border: #7000B1 solid 2px;
    border-radius: 50%;
}

.radio-container:hover {
    cursor: pointer;
}

.radio-container-active {
    width: 15px;
    height: 15px;
    background-color: #7000B1;
    border-radius: 50%;
}

.submit-button {
    margin-top: 20px;
    background-color: #00FFD5;
    border: none;
    height: 43px;
    border-radius: 5px;
    width: 35%;
}
